// ======== Gilroy

//   gilroy medium

@font-face {
    font-family: 'Gilroy-400';
    src: url(./assets/Fonts/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
    font-family: 'Gilroy-400';
    src: url(./assets/Fonts/Gilroy/Gilroy-Regular.ttf);
}
// --- noto
@font-face {
    font-family: 'Noto';
    src: url(./assets/Fonts/Noto-serif/NotoSerif-Bold.ttf);
}