// container brekpoints
$xl:1150px;
$lg:970px;
$md:730px;
$sm:550px;
$xs:320px;
// styles

$font_size:18px;
$font_family:'Gilroy-400';

// colors 
$white:#ffffff;
$dark:#333333;
$black:#000000;
$border-color:#d6d6d6;
$bg-color:#e5e5e5;